---
import '../../global.css'
import BlogCard from '../../components/BlogCard.astro'
import Navbar from '../../components/Navbar.astro'
import SearchBar from '../../components/SearchBar.jsx'
import Footer from '../../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'

const posts =await Astro.glob('../../posts/*/*.mdx')


---

<style>
    @media only screen and (max-width: 1000px) {
        .blogCards{
            
        padding: 50px;
       margin-bottom: 150px;
        justify-content: center;
       
        
    }
    .searchBar{
        margin-top: 150px;
        align-self: center;
         width:90%;
         
         
         display:flex;
         justify-content: center;
    }
    .cardSection{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-bottom: 50px;
    }
    h2{
        text-align: center;
        /* border-radius: 10px; */
        /* background-color: #feffa8; */
        /* color: black; */
        color: #242424;
        padding: 5px;
    }
    }
    @media only screen and (min-width: 1000px) {
        
        .blogCards{
        display: flex;
        
        flex-direction: column;
        flex-wrap: wrap;
        /* gap: 20px; */
        /* padding: 20px; */
        justify-content: center;
        
    }
    .searchBar{
        margin-top: 100px;
         width:50%;
         display:flex;
         align-self: center;
         justify-content: center;
    }
    
    .cardSection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:20px;
        padding: 20px;
        margin-bottom: 50px;
    }
    h2{
        text-align: center;
        margin:0;
        /* padding: 5px; */
        font-weight: 800;

        /* border-radius: 10px; */
        /* margin-left: 50px;
        margin-right: 50px; */
        
        /* background-color: #feffa8; */
        /* color: rgba(36, 36, 36,1); */
        color: #31363F;
    }
    }
    
</style>
<head>
    <ViewTransitions/>
</head>
<main >
    <div class="bg"></div>
    <Navbar data ={posts}/>
    <div  style="display: flex;justify-content:center;"  transition:animate="fade" >
    <div class="searchBar" ><SearchBar data ={posts} client:only="react" transition:animate="fade"/></div></div>


   <div class="blogCards">
    <h2>Latest Posts</h2>
    <div class="latest cardSection">
        {posts.map(item=>{
        
            return <BlogCard data={item.frontmatter} banner={item.imageUrl} url={item.frontmatter.tags[0]} />
             // <div>{item.frontmatter.title}</div>
         })}

    </div>
    <h2>Popular Posts</h2>
    <div class="popular cardSection">
        {posts.map(item=>{
        
            return <BlogCard data={item.frontmatter} banner={item.imageUrl} url={item.frontmatter.tags[0]} />
             // <div>{item.frontmatter.title}</div>
         })}

    </div>

    <h2>All Posts</h2>
    <div class="all cardSection">
        {posts.map(item=>{
        
       return <BlogCard data={item.frontmatter} banner={item.imageUrl}  url={item.frontmatter.tags[0]} />
        // <div>{item.frontmatter.title}</div>
    })}
    </div>
    
    
   </div>
   <Footer/>
</main>