---
import '../../global.css'
import BlogCard from '../../components/BlogCard.astro'
import Navbar from '../../components/Navbar.astro'
import SearchBar from '../../components/SearchBar.jsx'

const posts =await Astro.glob('../../posts/*.md')


---

<style>
    @media only screen and (max-width: 1000px) {
        .blogCards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       padding: 50px;
       gap: 50px;
       margin-bottom: 150px;
        justify-content: center;
       
        
    }
    .searchBar{
        margin-top: 150px;
        align-self: center;
         width:90%;
         
         
         display:flex;
         justify-content: center;
    }
    }
    @media only screen and (min-width: 1000px) {
        .blogCards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        justify-content: center;
        
    }
    .searchBar{
        margin-top: 100px;
         width:50%;
         display:flex;
         align-self: center;
         justify-content: center;
    }
    }
    
</style>
<main  >
    <Navbar data ={posts}/>
    <div style="display: flex;justify-content:center;">
    <div class="searchBar" ><SearchBar data ={posts} client:only="react" /></div></div>
   <div class="blogCards">
    
    {posts.map(item=>{
        
       return <BlogCard data={item.frontmatter} url={item.frontmatter.tags[0]} />
        // <div>{item.frontmatter.title}</div>
    })}
   </div>
</main>